In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv('C:/Users/ASUS/Downloads/combined_data_count.csv')
# Selecting x variable from 5th column to 20th column
x = df.iloc[:, 4:13]  # iloc[:, start_index:end_index+1]

# Selecting y variable in 21st column
y = df.iloc[:, 14]  # iloc[:, column_index]

# If you prefer x and y as numpy arrays
x = x.values
y = y.values

In [4]:
df

,YEAR,DOY,Date,District,T2M_MIN,T2M_MAX,T2M,QV2M,RH2M,PRECTOTCORR,WS10M,WD2M,GWETTOP,GWETROOT,Fire Count
0,2020,1,01/01/2020,Udaipur,11.12,21.48,15.37,6.35,54.94,0.00,1.91,116.94,0.48,0.49,0
1,2020,2,01/02/2020,Udaipur,11.96,21.07,15.69,7.51,65.12,0.20,1.82,80.62,0.48,0.49,0
2,2020,3,01/03/2020,Udaipur,11.28,17.27,13.69,7.02,67.81,4.46,1.69,107.38,0.51,0.49,0
3,2020,4,01/04/2020,Udaipur,9.64,16.94,12.70,7.14,73.69,0.53,1.96,206.69,0.49,0.49,0
4,2020,5,01/05/2020,Udaipur,7.69,16.96,11.48,6.04,68.38,0.13,2.94,298.44,0.48,0.49,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71633,2023,362,12/28/2023,doti,10.12,21.44,14.33,6.29,58.19,0.00,1.73,104.25,0.55,0.57,0
71634,2023,363,12/29/2023,doti,9.96,21.48,14.20,6.47,61.06,0.00,1.76,118.88,0.55,0.57,0
71635,2023,364,12/30/2023,doti,10.65,20.82,14.24,5.98,55.62,0.00,1.46,134.94,0.55,0.56,0
71636,2023,365,12/31/2023,doti,10.05,20.37,13.59,5.31,52.25,0.00,1.71,118.81,0.55,0.56,0
71637,2024,1,01/01/2024,doti,9.82,20.36,13.25,4.82,48.44,0.00,1.64,115.19,0.55,0.56,0

In [5]:
df.describe()

,YEAR,DOY,T2M_MIN,T2M_MAX,T2M,QV2M,RH2M,PRECTOTCORR,WS10M,WD2M,GWETTOP,GWETROOT,Fire Count
count,71638.000000,71638.000000,71638.000000,71638.000000,71638.000000,71638.000000,71638.000000,71638.000000,71638.000000,71638.000000,71638.000000,71638.000000,71638.000000
mean,2021.500684,183.000684,10.026620,19.666989,14.329465,9.582710,69.339598,4.055793,2.449244,180.940449,0.651097,0.646985,0.123426
std,1.119875,105.510809,10.619677,10.137689,10.342122,5.442958,19.297881,9.623249,0.873312,56.988881,0.183044,0.166530,0.986944
min,2020.000000,1.000000,-35.540000,-16.110000,-24.620000,0.550000,7.000000,0.000000,0.620000,7.620000,0.090000,0.340000,0.000000
25%,2020.000000,92.000000,2.900000,12.620000,7.250000,5.190000,55.190000,0.000000,1.910000,136.440000,0.520000,0.510000,0.000000
50%,2021.500000,183.000000,10.980000,19.820000,14.760000,8.420000,73.250000,0.290000,2.300000,175.810000,0.670000,0.630000,0.000000
75%,2023.000000,274.000000,18.800000,27.510000,22.870000,13.240000,86.120000,4.230000,2.740000,222.620000,0.800000,0.780000,0.000000
max,2024.000000,366.000000,32.090000,46.120000,38.200000,23.500000,100.000000,377.840000,15.080000,345.880000,1.000000,1.000000,43.000000

In [6]:
x

array([[ 11.12,  21.48,  15.37, ...,   1.91, 116.94,   0.48],
       [ 11.96,  21.07,  15.69, ...,   1.82,  80.62,   0.48],
       [ 11.28,  17.27,  13.69, ...,   1.69, 107.38,   0.51],
       ...,
       [ 10.65,  20.82,  14.24, ...,   1.46, 134.94,   0.55],
       [ 10.05,  20.37,  13.59, ...,   1.71, 118.81,   0.55],
       [  9.82,  20.36,  13.25, ...,   1.64, 115.19,   0.55]])

In [7]:
y

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [8]:
df.shape

(71638, 15)

In [10]:
df.head(10)

,YEAR,DOY,Date,District,T2M_MIN,T2M_MAX,T2M,QV2M,RH2M,PRECTOTCORR,WS10M,WD2M,GWETTOP,GWETROOT,Fire Count
0,2020,1,01/01/2020,Udaipur,11.12,21.48,15.37,6.35,54.94,0.00,1.91,116.94,0.48,0.49,0
1,2020,2,01/02/2020,Udaipur,11.96,21.07,15.69,7.51,65.12,0.20,1.82,80.62,0.48,0.49,0
2,2020,3,01/03/2020,Udaipur,11.28,17.27,13.69,7.02,67.81,4.46,1.69,107.38,0.51,0.49,0
3,2020,4,01/04/2020,Udaipur,9.64,16.94,12.70,7.14,73.69,0.53,1.96,206.69,0.49,0.49,0
4,2020,5,01/05/2020,Udaipur,7.69,16.96,11.48,6.04,68.38,0.13,2.94,298.44,0.48,0.49,0
5,2020,6,01/06/2020,Udaipur,6.67,18.37,11.44,5.19,59.50,0.00,1.96,270.75,0.48,0.49,0
6,2020,7,01/07/2020,Udaipur,8.48,19.69,12.90,5.13,53.44,0.03,2.11,287.62,0.48,0.49,0
7,2020,8,01/08/2020,Udaipur,9.73,18.65,13.48,6.35,62.38,0.90,1.52,149.81,0.48,0.49,0
8,2020,9,01/09/2020,Udaipur,8.88,15.99,12.07,7.45,80.25,2.78,1.95,190.31,0.50,0.49,0
9,2020,10,01/10/2020,Udaipur,7.50,18.21,11.68,6.71,75.44,0.09,3.26,292.25,0.48,0.49,0

In [11]:
df = df.drop_duplicates()

# Now 'df' contains the DataFrame with duplicate rows removed

# Optionally, you can reset the index if you want
df = df.reset_index(drop=True)

# Print the DataFrame after removing duplicates
print("DataFrame after removing duplicates:")
print(df)

DataFrame after removing duplicates:
       YEAR  DOY        Date District  T2M_MIN  T2M_MAX    T2M  QV2M   RH2M  \
0      2020    1  01/01/2020  Udaipur    11.12    21.48  15.37  6.35  54.94
1      2020    2  01/02/2020  Udaipur    11.96    21.07  15.69  7.51  65.12
2      2020    3  01/03/2020  Udaipur    11.28    17.27  13.69  7.02  67.81
3      2020    4  01/04/2020  Udaipur     9.64    16.94  12.70  7.14  73.69
4      2020    5  01/05/2020  Udaipur     7.69    16.96  11.48  6.04  68.38
...     ...  ...         ...      ...      ...      ...    ...   ...    ...
71633  2023  362  12/28/2023     doti    10.12    21.44  14.33  6.29  58.19
71634  2023  363  12/29/2023     doti     9.96    21.48  14.20  6.47  61.06
71635  2023  364  12/30/2023     doti    10.65    20.82  14.24  5.98  55.62
71636  2023  365  12/31/2023     doti    10.05    20.37  13.59  5.31  52.25
71637  2024    1  01/01/2024     doti     9.82    20.36  13.25  4.82  48.44

       PRECTOTCORR  WS10M    WD2M  GWETTOP  GWETROOT  Fire Count
0             0.00   1.91  116.94     0.48      0.49           0
1             0.20   1.82   80.62     0.48      0.49           0
2             4.46   1.69  107.38     0.51      0.49           0
3             0.53   1.96  206.69     0.49      0.49           0
4             0.13   2.94  298.44     0.48      0.49           0
...            ...    ...     ...      ...       ...         ...
71633         0.00   1.73  104.25     0.55      0.57           0
71634         0.00   1.76  118.88     0.55      0.57           0
71635         0.00   1.46  134.94     0.55      0.56           0
71636         0.00   1.71  118.81     0.55      0.56           0
71637         0.00   1.64  115.19     0.55      0.56           0

[71638 rows x 15 columns]

In [12]:
df.shape

(71638, 15)

In [13]:
df.isnull().sum()

YEAR           0
DOY            0
Date           0
District       0
T2M_MIN        0
T2M_MAX        0
T2M            0
QV2M           0
RH2M           0
PRECTOTCORR    0
WS10M          0
WD2M           0
GWETTOP        0
GWETROOT       0
Fire Count     0
dtype: int64

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 42)
#85:15 traning:test split ratio

In [15]:
print(X_train)

[[ -0.3    9.48   3.59 ...   1.87 176.38   0.55]
 [ 15.62  22.89  18.83 ...   2.3  230.31   0.66]
 [  4.08  14.07   8.65 ...   2.45 213.94   0.52]
 ...
 [  9.8   21.59  15.11 ...   2.42 134.5    0.56]
 [ 21.45  31.05  26.19 ...   2.34 145.     0.48]
 [ 13.32  21.33  16.99 ...   1.38 131.31   0.49]]

In [16]:
print(y_train)

[0 0 0 ... 0 0 0]

In [17]:
len(y_train)

57310

In [18]:
len(X_test)

14328

In [19]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
#fitting our training and test set into the object sc 
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
from sklearn.svm import SVR
regressor1 = SVR(kernel = 'rbf')
regressor1.fit(X_train, y_train)

In [17]:
y_pred = regressor1.predict(X_test)
y_pred

array([70.45955959, 65.95255838, 59.24072749, 62.05997157, 64.03268734,
       63.01668146, 57.79930368, 64.90535812, 65.16071155, 69.25481389,
       63.28784068, 60.64303517, 58.06856534, 63.38119587, 59.94930761,
       58.98272676, 60.52329341, 56.27024376, 57.94658066, 60.64010563,
       56.74502289, 58.72504253, 59.83452044, 56.57026665, 58.4127311 ,
       58.04378679, 59.10311904, 69.09173286, 62.33239771, 61.99421911,
       63.02284768, 63.25395855, 64.59319321, 62.32038832, 58.73536715,
       60.73741572, 64.49610842, 57.79686192, 59.16013091, 57.79684343,
       58.73694607, 62.91935239, 64.38646724, 61.34902172, 62.54569665,
       61.01737378, 61.87233674, 59.28882133, 65.36512399, 65.59957924,
       56.40176364, 62.04330409, 60.84659663, 57.26347784, 57.35164227,
       57.12910449, 64.57831204, 62.39288414, 61.9856547 , 62.35702372,
       58.21378164, 59.43021894, 61.40390067, 62.61959492, 59.92757637,
       65.55035028, 64.50538769, 62.2270247 , 57.43196629, 60.05590815,
       62.87537858, 58.17688068, 60.4809389 , 59.75516449, 62.12893103,
       63.15865988, 62.23569521, 62.77555231, 63.63423323, 61.09358577,
       59.24398434, 66.69583033, 58.84297569, 62.44028632, 63.13558683,
       65.52143299, 58.78575062, 62.17309759, 61.68466395, 60.1334252 ,
       64.83256859, 63.76328126, 61.02729435, 62.89262792, 59.50695379,
       64.80802189, 57.12322885, 58.78575062, 58.21212305, 63.15289998,
       60.74406908, 57.83984028, 57.09157751, 59.24143934, 60.31794752,
       57.63819061, 67.22424184, 60.72006687, 62.4310976 , 62.62486867,
       57.60476457, 65.24450855, 58.06440173, 65.299492  , 62.52850179,
       61.9745293 , 62.81213701, 57.60543184, 62.00520582, 63.2424745 ,
       65.23834293, 59.46907653, 57.75363921, 61.18116017, 60.96644415,
       61.8972232 , 66.07321724, 59.20592057, 63.74189668, 57.16026327,
       61.91259112, 62.21540779, 57.65026867, 65.1886646 , 56.46935397,
       64.72793047, 65.20678437, 62.65600106, 61.85330651, 61.81341127,
       59.37588095, 62.41289313, 60.88572675, 59.13171376, 62.56727295,
       58.73694607, 57.44251262, 59.66102989, 62.31633839, 57.64930098,
       59.71110312, 62.54608825, 58.91231068, 63.87590022, 62.95093802,
       60.47219837, 68.41737633, 65.57590754, 63.27825831, 59.73457793,
       64.85514804, 60.57267825, 58.61379759, 61.42355785, 55.98402544,
       61.26022528, 60.052668  , 62.1487277 , 57.11289294, 64.14675321,
       67.42804697, 64.39846303, 59.33909702, 55.54867113, 63.96005629,
       59.64302996, 58.83032552, 67.6353996 , 60.27629863, 64.09052928,
       63.47516747, 61.88454889, 65.43598789, 61.9868822 , 59.35720663,
       63.02239115, 58.70865996, 61.5216537 , 70.31380512, 65.47641938,
       58.07967009, 59.0470537 , 65.54211901, 62.28318282, 59.23906475,
       58.63765186, 62.57404753, 58.08623467, 59.34560312, 60.30849746,
       57.5207978 , 61.00554736, 62.48568943, 59.37758014, 60.54836879,
       60.16935654, 62.59151686, 58.30038676, 60.56759782, 61.47071582,
       61.51601062, 59.57017711, 60.31735468, 65.90728187, 70.4421933 ,
       56.43641169, 60.8214111 , 61.9368235 , 56.97306223, 57.81612023,
       58.94052824, 60.91416697, 63.48139826, 59.28931857, 63.3521643 ,
       62.61840156, 63.9510903 , 57.45579706, 62.54227065, 59.28644323,
       58.97813588, 64.08251752, 69.1824203 , 57.78397906, 61.83558561,
       62.32792644, 58.77556612, 59.27906848, 59.20656873, 62.65581992,
       59.86762686, 61.62743053, 57.73690586, 58.00626356, 60.28054268,
       60.78844543, 62.72700147, 60.31287717, 58.05059113, 60.93878055,
       65.54544632, 61.12461261, 58.59955107, 60.89954208, 64.41312582,
       59.78909311, 62.54811819, 65.54215236, 61.51290773, 62.70927257,
       57.75719559, 63.23622306, 59.45662884, 61.08937194, 58.92867257,
       56.28485802, 60.67746571, 70.13338706, 64.9204257 , 60.61382873,
       56.45366657, 70.46154446, 62.63633206, 63.88618434, 64.4424242 ,
       60.18609676, 61.1173826 , 57.21558286, 58.75640625, 62.71423672,
       61.66026128, 60.72080541, 58.93795313, 65.71508085, 58.53103305,
       59.26423497, 61.01425787, 61.27555549, 62.24070292, 57.53634378,
       61.63200823, 61.87138869, 62.39441093, 59.54672041, 60.71338733,
       60.89209788, 61.47155684, 62.52031704, 63.22656972, 61.31520371,
       62.55331469, 56.57027381, 59.69501294, 63.32501496, 61.88204269,
       62.28336017, 58.6972808 , 58.33795   , 61.72593144, 66.03596729,
       60.06535014, 62.31639712, 60.72080541, 62.16899571, 59.36802606,
       61.47080443, 60.7455823 , 59.03448385, 63.12590103, 63.15465814,
       62.06436886, 58.82784183, 63.84835281, 59.3433583 , 61.55558493,
       62.64237894, 65.02291112, 58.45889979, 64.13662033, 62.71068447,
       60.24828605, 61.13555009, 67.24955262, 61.42232078, 70.47692229,
       58.47688068, 58.77274988, 60.56703103, 59.03490217, 60.50665124,
       59.12478752, 61.12180687, 62.03750636, 60.52564542, 61.13069452,
       58.53074253, 59.78171738, 62.5429245 , 60.97964593, 59.50832385,
       59.28006556, 61.56656447, 57.11967972, 60.01934348, 63.55052685,
       64.49343209, 64.51595847, 61.38365019, 58.46069844, 60.71081134,
       64.94421858, 59.17159282, 66.18300168, 58.90312115, 64.84891726,
       61.21530486, 57.10023293, 58.55179768, 62.47964616, 61.92279676,
       59.63615344, 57.20775473, 64.50708191, 57.10807676, 59.70790293,
       58.04087821, 63.74034548, 59.33108484, 61.52297691, 57.71642924,
       60.32444728, 60.56775794, 63.68903217, 62.71455618, 63.46922901,
       59.54554792, 62.1963514 , 65.56099306, 60.82559544, 57.14127308,
       59.4382697 , 63.99975936, 58.04509967, 62.35775929, 61.6127831 ,
       60.34487732, 62.06411588, 58.44795445, 64.48270857, 61.77868576,
       65.56962735, 60.70040525, 64.63713794, 66.2344493 , 60.31050277,
       59.33684632, 61.48065988, 57.80714482, 62.94675959, 64.83256859,
       60.51960725, 60.90589402, 61.96043925, 61.36193456, 64.18523343,
       57.80202253, 59.24397112, 59.62930358, 60.78435012, 58.77494963,
       63.46202183, 60.05273869, 52.95601972, 60.71255052, 61.54281561,
       60.41486896, 62.23421262, 65.11195471, 58.84225922, 57.09099081,
       69.38254531, 61.90505485, 58.76497074, 59.05932931, 62.68686148,
       66.14123584, 67.99501119, 61.92406062, 63.19323705, 62.40959357,
       63.890266  , 59.8125667 , 59.52517036, 60.66619823, 58.69381616,
       59.59626211, 57.48568449, 66.18628078, 62.16502905, 57.82575576,
       60.8228842 , 56.34383059, 57.56233042, 59.78736056, 64.61262124,
       62.44345666, 62.17452761, 62.27630985, 64.77502057, 59.95250252,
       65.23729274, 62.6189851 , 63.11438669, 62.65164603, 58.22017502,
       58.54222646, 60.92535095, 58.03253695, 64.36629902, 61.93984904,
       56.16124546, 59.96303887, 58.17556315, 62.01928136, 58.87309323,
       64.51744303, 60.3136267 , 62.56468114, 60.54761239, 64.81841763,
       60.68896509, 63.48242834, 64.51153505, 63.00909455, 63.06244122,
       60.67161237, 62.58050349, 59.2332583 , 66.1294985 , 61.48048138,
       63.80865144, 63.98298697, 58.21449146, 61.08738237, 59.43654852,
       62.88942301, 60.22069303, 64.69280673, 60.14292844, 70.27141476,
       61.77897766, 60.76974156, 63.67293722, 57.49322916, 57.50789865,
       66.40516203, 59.35015904, 60.3755651 , 60.88550646, 59.24161875,
       64.47388087, 58.67901415, 62.32267331, 65.84959158, 62.26970538,
       63.46619724, 59.21987565, 58.69867613, 63.40254745, 62.94362246,
       62.41706931, 61.43734827, 60.79154361, 61.33896569, 57.76939797,
       62.49742911, 70.25603908, 58.21275487, 63.16606395, 58.82129476,
       60.02729473, 70.28996268, 60.84519337, 64.63423814, 60.03095743,
       58.29162802, 57.95589413, 62.12305615, 57.99438511, 61.62749149,
       68.1207885 , 61.08167138, 65.71003552, 57.09402143, 61.53493079,
       59.99873741, 60.12914376, 58.88511647, 60.70427932, 56.85595241,
       63.93848297, 65.37466937, 64.43253364, 60.47788344, 58.236553  ,
       61.68828697, 61.69869689, 64.79804436, 60.04192263, 70.32753142,
       58.87605215, 60.02140719, 63.2982083 , 59.10114004, 57.90875237,
       58.21345156, 59.20762893, 60.53612972, 57.53793545, 61.90260726,
       60.50457633, 62.10201519, 62.27838335, 66.4659817 , 58.67686716,
       59.6725048 , 58.39193605, 61.89877051, 59.83532196, 65.47914613,
       58.66318019, 56.28222833, 62.610598  , 67.00064129, 58.87391819,
       59.16269564, 57.28451904, 58.05040719, 59.29773095, 58.73832582,
       59.5468758 , 63.20139829, 63.23510421, 58.05137702, 61.50580904,
       66.16060739, 61.2607652 , 63.8866008 , 60.25971381, 62.39753182,
       58.13490502, 62.58882404, 70.46715379, 60.35309714, 64.9163429 ,
       63.22852339, 59.18074084, 58.09726334, 62.44084954, 59.95023007,
       57.48888551, 57.7841992 , 63.19092333, 59.23817764, 65.54667993,
       59.19022045, 63.93227145, 60.71030884, 65.77794754, 61.34338288,
       65.04855227, 57.16026327, 63.50325504, 58.59620038, 62.97479548,
       62.44084954, 63.84338883, 62.5013344 , 57.78201773])